html {
  font-size: 75%;
  @include sm {
    font-size: 100%;
  }
}

h1,
h2,
h3,
.font-strong {
  font-family: 'Anton', sans-serif !important;
  margin: 0 !important;
}
p {
  margin: 0 !important;
}
ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
