// Custom.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../../node_modules/bootstrap/scss/functions';

$font-family-base: 'Manrope';

@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
  'primary': #ffd15b,
  'primary-on': #f8f9ff,
  'primary-container': #ededed,
  'secondary': #1b1b1b,
  'secondary-on': #ffffff,
  // 'secondary-container': #ffddbb,
  'tertiary': #7a7a7a,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$primary-container: map-get($theme-colors, 'primary-container');
$body-bg: $primary-container;

$secondary: map-get($theme-colors, 'secondary');
$body-color: $secondary;
