/*

    => Bouton dropdown

*/
.filter {
  &__button {
    width: 100%;
    font-size: 1rem;
    color: var(--bs-secondary);
    background: none;
    background-color: white;
    padding: 1.0625rem 1rem;
    border: none;
    border-radius: 0.6875rem;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--arrow {
      background-image: url(../assets/header/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;

      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      transition: transform ease-in-out 0.3s;
    }
  }

  &__search {
    position: relative;
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid #c6c6c6;
    border-radius: 0.125rem;
  }

  &__dropdown {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    background-color: white;

    border-radius: 0 0 0.6875rem 0.6875rem;
    max-height: 13.4rem;
    overflow-y: scroll;
    visibility: hidden;
    z-index: 1;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.filterForm {
  &__input {
    border: none;
    // border-radius: 0.125rem;
    width: 100%;
    margin-right: 1.5rem;
    // border: 1px solid #c6c6c6;
    color: var(--bs-tertiary);
    font-size: 0.875rem;
    font-weight: 400;
  }
  &__btn {
    border: none;
    background: none;
    width: 0.84375rem;
    height: 0.875rem;
    position: absolute;
    background-image: url(../assets/header/search-filter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.7rem;
    // background-size: 50%;
    color: var(--bs-secondary);
  }
}

.filterDropdown {
  &__list {
    & li {
      position: relative;
      cursor: pointer;
      display: flex;

      border-top: 1px solid white;
      gap: 1rem;
      align-items: center;
      box-sizing: border-box;
    }
  }

  &__option {
    width: 100%;
    padding: 0.56rem 1rem;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: var(--bs-primary);
    }
  }
}

input[type='radio'] {
  display: none;
  position: absolute;
  left: 0;
  opacity: 0;
}

.filter.active {
  & .filter__button--arrow {
    transform-origin: center;
    transform: rotate(180deg);
  }
  & .filter__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
